//Color Palette Colors
$color-1: #000;
$color-2: #0ab;
$color-3: #4f3;

// Default Colors
$default-color: #454545;
$font_color: #717f86;

$turquoise: #1abc9c;
$turquoise_shade: #16a085;

$green: #2ecc71;
$green_shade: #27ae60;

$blue: #3498db;
$blue_shade: #2980b9;

$purple: #9b59b6;
$purple_shade: #8e44ad;

$dark: #34495e;
$dark_shade: #2c3e50;

$yellow: #f1c40f;
$yellow_shade: #f39c12;

$orange: #e67e22;
$orange_shade: #d35400;

$red: #e74c3c;
$red_shade: #c0392b;

$white: #ecf0f1;
$white_shade: #bdc3c7;

$silver: #95a5a6;
$silver_shade: #7f8c8d;

$black: #141719;
$grey: #454545;
$t: transparent;