.rx_wrapper {
	@include make-md-column(10);
	@include make-md-column-offset(1);
	// padding-top: 30px;
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	min-height: 100vh;
	padding-bottom: 30px;
}

.product-box {
	@include make-md-column(12);

	.product-image {
		@include make-md-column(6);

		img {
			@include img-responsive;
			min-width: 100%;
			box-shadow: 0 1px 4px 0px #999;
		}
	}

	.product-info {
		@include make-md-column(6);

		.product-category {
			font-size: 20px;
			margin-bottom: 15px;
		}

		.product-seller {
			font-size: 20px;
			margin-bottom: 15px;
		}

		.product-value {
			font: 38px $sub-font;
			font-weight: bold;
			margin-bottom: 15px;
			color: $title-color;
		}

		.product-description {
			margin-top: 50px;
			line-height: 28px;
			font-size: 17px;
		}
	}
}

.profile_image {
	border-radius: 50%;
	width: 95px;
	height: 95px;
	box-shadow: 0 1px 4px 0px #999;
	margin: 0 auto;
	border: 2px solid $t;
}

.product-categories {
	@include make-xs-column(12);
	@include make-sm-column(12);
	@include make-md-column(12);
	padding: 0;
	ul {
		display: table;
		list-style-type: none;
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		padding: 0;
		li {
			input {
			@include make-xs-column(2);
			@include make-sm-column(2);
			@include make-md-column(2);
			border: none;
			padding: 13px 12px;
			background-color: #022d63;
			border-right: 1px solid #0f3b71;
			color: #fff;
			text-align: center;
			transition: 0.2s;
			border-bottom: 4px solid #000;
			font: 16px $sub-font;
			font-weight: bold;
			outline: none;
			}

			input.lazer {border-bottom-color: $blue;}
			input.casa {border-bottom-color: $yellow;}
			input.moda {border-bottom-color: $purple;}
			input.eletro {border-bottom-color: $green;}
			input.livros {border-bottom-color: $red;}
			input.cosmeticos {border-bottom-color: $turquoise;}

			i {
				font-size: 20px;
			}
		}
	}
}

.search-bar {
	@include make-md-column(12);
	background-color: #014ead;
	border: none;

	input {
		width: 100%;
		color: #fff;
		text-align: center;
	}
}

.upload-box {
	@include make-md-column(12);
	.box-inner {
	text-align: center;
	padding: 30px;
	}
}

// .upload-area {
// 	input[type="button"] {
// 		background-color: red;
// 	}
// }

.dashboard {
	@include make-md-column(12);
	.dashboard__item {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(4);
		margin-top: 10px;
		.item-inner {
			padding: 30px;
		}
	}
}

.count {
	color: $color-1;
	font-weight: bold;
	font-family: $sub-font;
	font-size: 20px;
}

.ride-box {
	@include make-md-column(12);
	padding: 0;
	>.ride-box__item {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(6);
		margin: 15px 0px;
		>.item-inner {
			padding: 15px;
		}

		p {
			font-size: 18px;
			margin-top: 15px;
		}
	}

	.ride-box__item.full {
		@extend .ride-box__item;
		@include make-md-column(12);
	}
}

.login-page {
	@include make-md-column(12);
	background: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
  	height: 100vh;
  	z-index: -100;

  	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,$color-1,$color-1);
		opacity: .9; 
	}

	.login-box {
    position:relative;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
	}
}


.go-login-page {
	@include make-md-column(12);
	background: url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-11.jpg') no-repeat center center;
	background-size: cover;
	height: 100vh;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,$color-1,$color-1);
		opacity: .9; 
	}

	>.login-box {
	position:relative;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: #000;
    border-radius: 5px;
    	.box-content {
			margin: 0 auto;
			text-align: center;
			padding: 30px;
    	}
	}
}